

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: sans-serif;
}

.ageField {
    font-family: monospace;
    color: #444444;
    background: #eeeeee;
    text-align: right;
    width: 5em;
    font-size: 20px;
    border: 1px solid #aaaaaa;
}

#results img {
    padding-right: 10px;
}

#final-score {
    margin-bottom: 40px;
    margin-top: 25px;
}
